@tailwind base;
@tailwind components;
@tailwind utilities;


 /* Global CSS File */
@keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-150%);
    }
  }
  
  .animate-marquee {
    animation: marquee 20s linear infinite;
  }
  
  